/** Add css rules here for your application. */
.icon-add {
  background-image: url(images/icons/add.gif) !important;
}
.icon-add-disabled {
  background-image: url(images/icons/add.gif) !important;
}

.icon-save {
  background-image: url(images/icons/save.gif) !important;
}
.icon-save-disabled {
  background-image: url(images/icons/save.gif) !important;
}

.icon-delete {
  background-image: url(images/icons/delete.gif) !important;
}
.icon-delete-disabled {
  background-image: url(images/icons/delete.gif) !important;
}

.icon-edit {
  background-image: url(images/icons/edit.gif) !important;
}
.icon-edit-disabled {
  background-image: url(images/icons/edit.gif) !important;
}

.icon-list {
  background-image: url(images/icons/list.gif) !important;
}

.icon-refresh {
  background-image: url(images/default/grid/refresh.gif) !important;
}

.icon-warning {
  background-image: url(images/default/shared/warning.gif) !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.image-chose-personal-background {
    background:#f0f0f0;
}

/* chooser */
#img-chooser-dlg .details {
  padding: 10px;
  text-align: center;
}

#img-chooser-dlg .details-info {
  border-top: 1px solid #cccccc;
  font: 11px Arial, Helvetica, sans-serif;
  margin-top: 5px;
  padding-top: 5px;
  text-align: left;
}

#img-chooser-dlg .details-info b {
  color: #555555;
  display: block;
  margin-bottom: 4px;
}

#img-chooser-dlg .details-info span {
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

#img-chooser-view {
  background: white;
  font: 11px Arial, Helvetica, sans-serif;
}

#img-chooser-view .thumb {
  background: #dddddd;
  padding: 3px;
}

#img-chooser-view .thumb img {
  /* height: 60px; */
  width: 90px;
}

#img-chooser-view .thumb-wrap {
  float: left;
  margin: 4px;
  margin-right: 0;
  padding: 5px;
}

#img-chooser-view .thumb-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
}

#img-chooser-view .x-view-over {
  border: 1px solid #dddddd;
  background: #efefef repeat-x left top;
  padding: 4px;
}

#img-chooser-view .x-view-selected {
  background: #DFEDFF;
  border: 1px solid #6593cf;
  padding: 4px;
}

#img-chooser-view .x-view-selected .thumb {
  background: transparent;
}

#img-chooser-view .x-view-selected span {
  color: #1A4D8F;
}

#img-chooser-view .loading-indicator {
  font-size: 11px;
  background-image: url('../../images/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  margin: 10px;
}

/* list view */
#images-view .x-panel-body {
  background: white;
  font: 11px Arial, Helvetica, sans-serif;
}

#images-view .thumb {
  background: #dddddd;
  padding: 3px;
}

#images-view .thumb img {
  height: 60px;
  width: 80px;
}

#images-view .thumb-wrap {
  float: left;
  margin: 4px;
  margin-right: 0;
  padding: 5px;
}

#images-view .thumb-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
}

#images-view .x-view-over {
  border: 1px solid #dddddd;
  background: #efefef url(images/default/grid/row-over.gif) repeat-x left top;
  padding: 4px;
}

#images-view .x-view-selected {
  background: #eff5fb no-repeat right bottom;
  border: 1px solid #99bbe8;
  padding: 4px;
}

#images-view .x-view-selected .thumb {
  background: transparent;
}

#images-view .loading-indicator {
  font-size: 11px;
  background-image: url('images/default/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  margin: 10px;
}
